.link-compra{
margin-top: 25px;
}

.d-end {
    text-align: end;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.ingredientes{
    font-weight: bold;
    font-size: 20px;
}