.detalle-carrito {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .detalle-carrito {
        justify-content:center;
        text-align: center;
        
    }
    
}