.product-grid{
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
  width: auto; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

.products:hover {
  opacity: 80;
}